@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #4fb43c;
    --head-color: #2d6a4f;
    --text-color: #333;
    --title-color: #002248;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    text-rendering: optimizeLegibility;
}

.app{
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img{
    width: 100%;
}

ul, ol{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

.section{
    padding: 60px 0;
}

.bg-secondary{
    background-image: url(../imgs/bgstaticblock.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.wrapper-title{
    text-align: center;
}

.wrapper-title .head{
    text-transform: capitalize;
    font-size: 36px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper-title .head::after{
    content: url(../imgs/ico_tl.png);
    display: inline-block;
    margin-top: 10px;
}

.banner-slick {
    margin-bottom: 0 !important;
}

.slick-dots{
    bottom: 20px;
}
